In [1]:
import pandas as pd

In [2]:
data={

      'ID': [1,2,3,4,5,6],
      'Name': ['Atharva','Aditya','Shadab','Fuzail','Govind','Sangharsh'],
      'Age' : [20,22,24,26,28,30],
      'Country' : ['India','Australia','South Africa','England','New Zealand','West Indies'],
      'Sales': [200,450,300,800,700,1000]

}

In [5]:
df=pd.DataFrame(data)

print("Orginal Dataset")
print(df)

Orginal Dataset
   ID       Name  Age       Country  Sales
0   1    Atharva   20         India    200
1   2     Aditya   22     Australia    450
2   3     Shadab   24  South Africa    300
3   4     Fuzail   26       England    800
4   5     Govind   28   New Zealand    700
5   6  Sangharsh   30   West Indies   1000

In [7]:
df['Name_Upper']=df['Name'].str.upper()

print("Dataset after adding new column")
print(df[['ID','Name','Name_Upper']])

Dataset after adding new column
   ID       Name Name_Upper
0   1    Atharva    ATHARVA
1   2     Aditya     ADITYA
2   3     Shadab     SHADAB
3   4     Fuzail     FUZAIL
4   5     Govind     GOVIND
5   6  Sangharsh  SANGHARSH

In [9]:
df_copy1=df.copy()
df_copy2=df.copy()

df_copy1['Sales'] *= 1.1
df_copy2['Age'] += 5

print("\nMulticast (Modified Copies):")
print("Copy 1 (Sales Increased):")
print(df_copy1)
print("\nCopy 2 (Age Increased):")
print(df_copy2)

Multicast (Modified Copies):
Copy 1 (Sales Increased):
   ID       Name  Age       Country   Sales Name_Upper
0   1    Atharva   20         India   220.0    ATHARVA
1   2     Aditya   22     Australia   495.0     ADITYA
2   3     Shadab   24  South Africa   330.0     SHADAB
3   4     Fuzail   26       England   880.0     FUZAIL
4   5     Govind   28   New Zealand   770.0     GOVIND
5   6  Sangharsh   30   West Indies  1100.0  SANGHARSH

Copy 2 (Age Increased):
   ID       Name  Age       Country  Sales Name_Upper
0   1    Atharva   25         India    200    ATHARVA
1   2     Aditya   27     Australia    450     ADITYA
2   3     Shadab   29  South Africa    300     SHADAB
3   4     Fuzail   31       England    800     FUZAIL
4   5     Govind   33   New Zealand    700     GOVIND
5   6  Sangharsh   35   West Indies   1000  SANGHARSH

In [11]:
high_sales=df[df['Sales']>300]
low_sales=df[df['Sales']<=300]
print("\nConditional Split:")
print("High Sales:")
print(high_sales)
print("\nLow Sales:")
print(low_sales)

Conditional Split:
High Sales:
   ID       Name  Age      Country  Sales Name_Upper
1   2     Aditya   22    Australia    450     ADITYA
3   4     Fuzail   26      England    800     FUZAIL
4   5     Govind   28  New Zealand    700     GOVIND
5   6  Sangharsh   30  West Indies   1000  SANGHARSH

Low Sales:
   ID     Name  Age       Country  Sales Name_Upper
0   1  Atharva   20         India    200    ATHARVA
2   3   Shadab   24  South Africa    300     SHADAB

In [13]:
agg_df=df.groupby('Country')['Sales'].sum().reset_index()
print("\nAggregation:")
print(agg_df)

Aggregation:
        Country  Sales
0     Australia    450
1       England    800
2         India    200
3   New Zealand    700
4  South Africa    300
5   West Indies   1000

In [15]:
sorted_df=df.sort_values(by='Sales',ascending=False)
print("\nSorted Data:")
print(sorted_df)

Sorted Data:
   ID       Name  Age       Country  Sales Name_Upper
5   6  Sangharsh   30   West Indies   1000  SANGHARSH
3   4     Fuzail   26       England    800     FUZAIL
4   5     Govind   28   New Zealand    700     GOVIND
1   2     Aditya   22     Australia    450     ADITYA
2   3     Shadab   24  South Africa    300     SHADAB
0   1    Atharva   20         India    200    ATHARVA

In [17]:
df['Sales_Category']=df['Sales'].apply(lambda x: 'High' if x>300 else 'Low')
print("\nDerived Column (Sales Category):")
print(df[['ID','Name','Sales','Sales_Category']])

Derived Column (Sales Category):
   ID       Name  Sales Sales_Category
0   1    Atharva    200            Low
1   2     Aditya    450           High
2   3     Shadab    300            Low
3   4     Fuzail    800           High
4   5     Govind    700           High
5   6  Sangharsh   1000           High